/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .comment-section {
    margin-top: 20px;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
  }
  
  .comment-form input {
    margin-bottom: 10px;
  }
  
  .comment-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
  } */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .comment-section {
    margin-top: 20px;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
  }
  
  .comment-form input {
    margin-bottom: 10px;
  }
  
  .comment-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .comment-toggle {
    cursor: pointer;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
  }
  .comment-section {
    margin-top: 20px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  
  .comment-section.hidden {
    max-height: 0;
  }
  
  .comment-section.visible {
    max-height: 1000px; /* Ajusta este valor según sea necesario */
  }  